.post {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px rgb(82, 240, 232);
    background-color: rgb(0, 0, 0, 0.7);
    color: rgb(82, 240, 232);
    border-radius: 4px;
}
